.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

table {
  border: 2px solid blue;
  width: 1000px;
  height: 200px;
}

th {
  border-bottom: 2px solid black;
  border-right: 2px solid black;
  border-left: 2px solid black;
  border-top: 2px solid black;
}

td {
  text-align: center;
  border-bottom: 1px solid black;
}

